
 
<table class="table table-sm" style="border: hidden" ALIGN="left" class="table table-responsive">
  <tbody>
    <tr style="border: hidden">
      <td style="background-color:grey;">
        <div class="publishingDiv" #publisherDiv>
        </div>
      </td>
      <td colspan="3" >
        <div>
          <br>
          <label>Session:</label>
          <br>
          <textarea rows="4" cols="96" style="border:solid 1px orange;">
          {{session | json}}
          </textarea>
          <br>
          <label>Subscriptores:</label>
          <br>
          <textarea rows="4" cols="96" style="border:solid 1px orange;">
          {{subscribers | json}}
          </textarea>
          <br>
          <label>Conexiones:</label>
          <br>
          <textarea rows="4" cols="96" style="border:solid 1px orange;">
          {{connections | json}}
          </textarea>
        </div>
      </td>
    </tr>
  </tbody>
</table>







  


  


