form {
    display: normal;
    text-align: center;
    margin: auto;
  }
  input {
    display: inline-block;
    font-size: inherit;
    padding: .5em;
    margin-bottom: .2em;
    width: 250px;
  }
  button {
    display: inline-block;
    font-size: inherit;
    padding: .5em;
    width: 250px;
  }
  
table { table-layout: fixed; }
  table th {
    height:150px;
    width:100%;
    overflow: hidden;
  }
  
  